<form (ngSubmit)="onSubmit()" style="margin-left: 20px;padding: 8%;" class="card">
  <h4>Put Up a Note!</h4><br>
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Enter Title">
    </div><br>
    <div class="form-group">
      <label>ToDo Description</label>
      <input type="text" [(ngModel)]="desc" name="desc" class="form-control" placeholder="The Description">
    </div>
    <br>
    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>