<form (ngSubmit)="onSubmit()" style="padding: 8%;">
    <div class="form-group">
      <label>Title</label>
      <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Enter Title">
    </div><br>
    <div class="form-group">
      <label>ToDo Description</label>
      <input type="text" [(ngModel)]="desc" name="desc" class="form-control" placeholder="The Description">
    </div>
    <!-- <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Keep It Active</label>
    </div> -->
    <div style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>